<% content_for :title do %>
	<h1>Cours et tarifs</h1>
<% end %>

<div id="text">
	<h3>Premiers secours (samaritains) dès 15 ans</h3>
	<p>Obligatoire avant l'examen théorique.</p>
	<p>Les cours de <span class="strong">premiers secours</span> sont organisés 2 fois par mois environ, selon le nombre de participants, les soirs de semaine ou les vendredi soir et samedi toute la journée. Ces cours sont assurés uniquement par des professionnels de la santé au <span class="strong">prix promotionnel</span> de CHF 120.-</p>
	<p>(sans examen)</p>
	<h3>Théorie (sans rendez-vous)</h3>
	<p>Avant la délivrance du permis d'élève.</p>
	<p>Nous nous tenons à votre disposition 2 jours par semaine pour des tests d'examen en 9 langues sur ordinateur. (français, allemand, italien, anglais, portugais, espagnol, albanais, turc, serbo-croate)</p>
	<p><span class="strong">Ouvert tous les mardi et jeudi de 17 à 19 heures</span></p>
	<p><span>Tarif: CHF 20.-/ semaine</span> ou forfait <pan class="strong">CHF 60.-/mois.</span></p>
	<p>Cours de théorie commentée <span class="strong">CHF 40.-</span> pour 2 heures, minimum 3 personnes. Cours individuels aussi possibles sur demande.</p>
	<p>Lors de l'examen théorique qui dure 45 minutes. Vous devrez prouver vos connaissances des règles de la circulation ainsi que celles sur les premiers secours aux blessés.</p>
	<h3>Sensibilisation au trafic routier</h3>
	<p>En cours de formation pratique uniquement dès l'obtention du permis d'élève conducteur.</p>
	<p>Cours de sensibilisation en 8 heures sur une semaine, donné par un moniteur expérimenté.</p>
	<ul>
		<li><span class="strong">Février 2013 :</span> lundi 25, mardi 26, mercredi 27 et jeudi 28 de 19 à 21 heures</li>
		<li><span class="strong">Avril 2013 :</span> lundi 22, mardi 23, mercredi 24 et jeudi 25 de 19 à 21 heures</li>
		<li><span class="strong">Juin 2013 :</span> lundi 17, mardi 18, mercredi 19 et jeudi 20 de 19 à 21 heures</li>
		<li><span class="strong">Août 2013 :</span> lundi 26, mardi 27, mercredi 28 et jeudi 29 de 19 à 21 heures</li>
		<li><span class="strong">Octobre 2013 :</span> lundi 21, mardi 22, mercredi 23 et jeudi 24 de 19 à 21 heures</li>
		<li><span class="strong">Décembre 2013 :</span> lundi 16, mardi 17, mercredi 18 et jeudi 19 de 19 à 21 heures</li>
	</ul>
	<p>Prix du cours complet, <span class="strong">CHF 200.-</span> (sans examen)</p>
	<p><span class="strong">Ouverture de la salle de théorie : les mardi et jeudi de 17 à 19 heures, ou sur rendez-vous.</span></p>
	<p><span class="strong">Renseignements, dates et inscription 078.621.81.82</span></p>
</div>

<% content_for :aside do %>
	<img src="images/salle.jpg" />
<% end %>