<% content_for :title do %>
	<h1>Cours et tarifs</h1>
<% end %>

<div id="text">
	<h3>Premiers secours dès 15 ans</h3>
	<p>Obligatoire avant l'examen théorique.</p>
	<p>Les cours de <span class="strong">premiers secours</span> sont organisés 2 fois par mois environ, selon le nombre de participants, les soirs de semaine ou les vendredi soir et samedi toute la journée. Ces cours sont assurés uniquement par des professionnels de la santé.</p>
	<p><a class="button2" href="http://www.firstmed.ch/cours-samaritain-permis/premiers-secours/autoecole?ae=contact%20auto-moto">S'inscrire aux cours de premiers secours</a></p>
	<div class="clear"></div>
	<h3>Théorie (sans rendez-vous)</h3>
	<p>Avant la délivrance du permis d'élève.</p>
	<p>nous nous tenons à votre disposition 1 jour par semaine pour des tests d'examen en 9 langues sur ordinateur. (français, allemand, italien, anglais, portugais, espagnol, albanais, turc, serbo-croate)</p>
	<p><span class="strong">ouvert tous les jeudis de 17 à 19 heures</span></p>
	<p><span>Tarif: CHF 20.-/ semaine</span> ou forfait <pan class="strong">CHF 60.-/mois.</span></p>
	<p>Cours de théorie commentée <span class="strong">CHF 40.-</span> pour 2 heures, minimum 3 personnes. Cours individuels aussi possibles sur demande.</p>
	<p>Lors de l'examen théorique qui dure 45 minutes. Vous devrez prouver vos connaissances des règles de la circulation ainsi que celles sur les premiers secours aux blessés.</p>
	<h3>Sensibilisation au trafic routier</h3>
	<p>En cours de formation pratique uniquement dès l'obtention du permis d'élève conducteur.</p>
	<p>Cours de sensibilisation en 8 heures sur une semaine, donné par un moniteur expérimenté.</p>
	<ul>
		<li><span class="strong">Février 2015 :</span> 23, 24, 25 et 26 de 19 à 21 heures</li>
		<li><span class="strong">Avril 2015 :</span> 27, 28, 29 et 30</li>
		<li><span class="strong">Juin 2015 :</span> 22, 23, 24 et 25</li>
		<li><span class="strong">Août 2015 :</span> 24, 25, 26 et 27</li>
		<li><span class="strong">Octobre 2015 :</span> 26, 27, 28 et 29</li>
		<li><span class="strong">Décembre 2015 :</span> 14, 15, 16 et 17</li>
	</ul>
	<p>Prix du cours complet, <span class="strong">CHF 200.-</span></p>
	<p><span class="strong">Ouverture de la salle de théorie le jeudi de 17 à 19 heures ou sur rendez-vous.</span></p>
	<p><span class="strong">Renseignements, dates et inscription</span><span class="important"> 078 621 81 82</span></p>
</div>

<% content_for :aside do %>
	<img src="images/salle.jpg" />
<% end %>
