<h1>L'école de conduite à Lausanne</h1>
<div id="text">
  <h2>Changement d'adresse</h2>
  <span class="strong"><p>Anciennement à l'avenue de Morge 44, L'auto-école Contact se trouve maintenant à <a href="situation.html">la rue de la Borde 57, toujours à Lausanne</a>.</p></span>
  <h2>Contact : L'auto-école</h2>
  <p>Voilà 10 ans que j'ai quitté mon ancienne profession pour retourner sur les bancs de l'école. Passionné d'automobiles, j'ai passé 9 mois à l'Ecole Professionnelle Romande des Moniteurs de Conduite, et obtenu mon <span class="strong">permis de moniteur auto et moto</span> en novembre 2002.</p>
  <p>Quels sont les points forts de ce nouveau job? Bien sûr, le contact avec les gens, être à leur écoute et leur répondre au moyen de prestations adaptées à leurs besoins, pour cela, je dispose d'une <span class="strong">salle de théorie de 40m2</span>, pour 12 personnes, équipée <span class="strong">d'ordinateurs modernes</span> pour étudier la théorie; différents programmes disponibles en 9 langues.</p>
  <p>Des cours de <span class="strong">sensibilisation</span> sont aussi organisés régulièrement, en groupe, et individuellement sur demande. Nous pouvons également vous orienter pour suivre les cours de <span class="strong">samaritains</span> (sauveteurs ou premiers secours).</p>
  <p>Concernant les cours pratiques voiture, de la <span class="strong">« formation du débutant »</span>, des <span class="strong">« courses de contrôle »</span>, au <span class="strong">« perfectionnement d'anciens conducteurs »</span>, nous sommes disponibles du lundi au samedi toute la journée, sur rendez-vous. Nous nous occupons « de tout », de la demande du <span class="strong">permis d'élève conducteur</span>, et offrons un suivi régulier pendant toute la période de formation jusqu'au moment de l'examen. L'auto-école Contact vous propose également les cours 2-phases, en partenariat avec différents centres de formation de la région. (Savigny, Cossonay ou Romont).</p>
  <p>Pour terminer cette brève présentation de mon activité, étant moi-même motard, j'ai le plaisir d'organiser régulièrement les <span class="strong">cours de base pour élèves scooter et motocyclistes</span>, (6 heures, 8 heures ou 12 heures obligatoires selon le permis d'élève conducteur), en principe les samedis, et ceci toute l'année tant que les conditions météorologiques le permettent ! <span class="strong">Des cours de perfectionnement</span> ou de <span class="strong">préparation à l'examen</span> sont aussi prévus.</p>
</div>
<span class="name"><p>Luc</p></span>

<% content_for :aside do %>
	<img src="images/lieu.jpg" />
	<p>Luc Vuagniaux, moniteur de conduite diplomé auto + moto</p>
<% end %>