<% content_for :title do %>
	<h1>Informations</h1>
<% end %>

<div id="text">
	<p>Les formalités pour obtenir votre permis de conduire sont :</p>
	<ul>
		<li>remplir le <span class="strong">formulaire d'inscription</span> disponible à la salle de théorie ou directement auprès du service des automobiles et de la navigation / tél. 021 316.82.10 ou <a href="http://www.vd.ch/san">www.vd.ch/san</a></li>
		<li>cours <span class="strong">premiers secours</span></li>
		<li><span class="strong">examen de théorie</span>. Dès cet examen réussi, délivrance du permis d'élève conducteur et droit de rouler accompagné</li>
		<li><span class="strong">cours sensibilisation</span> au trafic routier, dès l'examen théorique réussi</li>
		<li><span class="strong">examens pratiques</span>, voiture + moto.</li>
		<li><span class="strong">Cours de formation 2-phases</span></li>
	</ul>
	<p>Dans notre <span class="strong">salle de théorie</span> vous trouverez :</p>
	<ul>
		<li>formulaires d'inscription aux examens théoriques et pratiques</li>
		<li>livres de théorie</li>
		<li>livres de sensibilisation</li>
		<li>conseils et aide pour remplir les différents formulaires par moniteur diplômé</li>
		<li>différents fascicules contenant des informations importantes sont à votre disposition afin que vos examens théoriques et pratiques se déroulent dans le meilleures conditions</li>
	</ul>
	<p>Je me tiens à disposition pour tout autre renseignement pendant les heures d'ouverture ou par téléphone.</p>
	<p>Ouverture salle de théorie :</p>
	<p>Le <span class="strong"> jeudi de 17 à 19 heures</span>, ou sur rendez-vous.</p>
</div>
