<% content_for :title do %>
	<h1>Moto et scooter</h1>
<% end %>

<div id="text">
	<p>Renseignements et inscriptions par téléphone au <span class="strong">078 621 81 82 </span>ou en utilisant<a href="renseignements.html">le formulaire de contact</a></p>
	<p>Possibilité d'obtenir votre permis A1, scooter et moto, (max 125cm3, puissance max. 11Kw) sans examen ! (Seulement pour les possesseurs d'un permis voiture)</p>
	<p>A partir de 16 ans, max 50cm3 et max. 11Kw.</p>
	<p>Cours de formation pratique de base donné par moniteur passionné, prêt à vous enseigner la conduite du 2 roues, du scooter au chopper en passant par la sportive et le trail.</p>
	<p>Cours de base A1 (8 heures) et A (12 heures) par blocs de 4 heures.</p>
	<h3>Cours tous les samedis</h3>
	<p>5 élèves par cours maximum. (en semaine également si nombre de participants suffisant)</p>
	<p>Prix du cours A1, 8 heures : <span class="strong">CHF 380.-</span></p>
	<p><span class="strong">( action pour les 16-18 ans, 50cc : CHF 350.- )</span></p>
	<p>Prix du cours A, 12 heures : <span class="strong">CHF 570.-</span> (grosses cylindrées)</p>
	<p>Prix du cours pour le passage de A1 à A, 6 heures : <span class="strong">CHF 285.-</span></p>
	<p>Prix d'une leçon privée : <span class="strong">CHF 85.-</span></p>
	<p><span class="strong">Descriptif du cours:</span> travail du regard, équilibre, slalom, décalé, huit, freinage dégressif, théorie de circulation, vitesse d'approche, observation.</p>
	<p>Tous ces exercices vous familiariseront avec votre moto et vous aideront à améliorer votre sécurité.</p>
	<p>Lors de l'examen, vous devrez être capable de maîtriser en premier l'aspect théorique des exercices, ainsi que de conduire de manière sûre et adaptée le motocycle dans la circulation.</p>
</div>

<% content_for :aside do %>
	<img src="images/moto.jpg" />
<% end %>
