<% content_for :title do %>
	<h1>Renseignements</h1>
<% end %>

<div id="text">
	<p>Renseignements sur les prochains cours : (sensibilisation uniquement si vous possédez déjà le permis d'élève conducteur)</p>
	<p><span class="strong">Pratique voiture</span> : sur rendez-vous, inscription par téléphone au 078 621 81 82</p>
	<p><span class="strong">Cours moto</span> : inscription et renseignements par téléphone ou au moyen du formulaire de contact ci-dessous.</p>
	<p><span class="strong">Sensibilisation</span> : cours sur 1 semaine tous les mois environ.</p>
	<p><span class="strong">Premiers secours</span> : cours organisés 2 fois par mois, les soirs de semaine ou les vendredi soir et samedi toute la journée. Inscription au moyen du formulaire de contact ou par téléphone.</p>
	<h2>Inscriptions</h2>
	<p>Prochains cours de sensibilisation :</p>
	<ul>
		<li>Février 2012, lundi 20, mardi 21, mercredi 22 et jeudi 23 de 19 à 21 heures</li>
		<li>Avril 2012, lundi 23, mardi 24, mercredi 25 et jeudi 26</li>
		<li>Juin 2012, lundi 25, mardi 26, mercredi 27 et jeudi 28</li>
		<li>Août 2012, lundi 27, mardi 28, mercredi 29 et jeudi 30</li>
		<li>Octobre 2012, lundi 22, mardi 23, mercredi 24 et jeudi 25</li>
		<li>Décembre 2012, lundi 17, mardi 18, mercredi 19 et jeudi 20</li>
	</ul>
	<p>Inscriptions par téléphone au <span class="strong">078 621 81 82</span> ou en utilisant le formulaire ci-joint.</p>
	<h2>Formulaire de contact</h2>
	<p>Faites votre demande de renseignements ici, nous vous contacterons dans les plus bref délais.</p>
	
	<form method="post" action="/renseignements">
		<table>
			<tr>
				<td><p>Nom</p></td>
				<td><input name="message_request[first_name]" size="20" type="text" value="" required="required"></input></td>
			</tr>
			<tr>
				<td><p>Prénom</p></td>
				<td><input name="message_request[last_name]" size="20" type="text" value="" required="required"></input></td>
			</tr>
			<tr>
				<td><p>Adresse</p></td>
				<td><textarea name="message_request[address]" style="height: 27px; width: 178px;" type="text" value="" required="required"></textarea></td>
			</tr>
			<tr>
				<td><p>NPA, Localité</p></td>
				<td><input name="message_request[npa]" size="6" type="text" required="required"></input><input name="message_request[locality]" size="28" type="text" required="required"></input></td>
			</tr>
			<tr>
				<td><p>Email</p></td>
				<td><input name="message_request[email]" size="40" type="email" required="required"></input></td>
			</tr>
			<tr>
				<td><p>Tél</p></td>
				<td><input name="message_request[phone]" size="25" type="tel" required="required"></input></td>
			</tr>
			<tr>
				<td><p>Commentaires</p></td>
				<td><textarea name="message_request[commentary]" cols="30" rows="4" type="text" required="required"></textarea></td>
			</tr>
			<tr>
				<td></td>
				<td><input name="commit" type="submit" value="Envoyer les informations"></input></td>
			</tr>
		</table>
	</form>
</div>