<% content_for :title do %>
	<h1>Situation</h1>
<% end %>

<div id="text">
	<p>Anciennement à l'avenue de Morges 44, ma nouvelle adresse est désormais :</p>
	<p><span class="strong">Contact Auto-Moto </span></p>
	<p>rue de la Borde 57</p>
	<p>1018 Lausanne</p>
	<p>En bus avec les lignes 3, 8, 16 et 22 arrêt Vieux-Moulin.</p>
	<iframe width="450" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=Rue+de+la+Borde+57,+1018+Lausanne,+Lausanne,+Vaud,+Switzerland&amp;hnear=Rue+de+la+Borde+57,+1018+Lausanne,+Lausanne,+Vaud,+Switzerland&amp;ie=UTF8&amp;cd=5&amp;geocode=&amp;split=0&amp;t=h&amp;ll=46.532975,6.62909&amp;spn=0.005167,0.009656&amp;z=16&amp;iwloc=near&amp;output=embed"></iframe>
</div>

<% content_for :aside do %>
	<img src="images/lieu.jpg" />
	<p>Luc Vuagniaux, moniteur de conduite diplomé auto + moto</p>
<% end %>