<% content_for :title do %>
	<h1>Permis voiture</h1>
<% end %>

<div id="text">
	<h3>Leçons de pratiques pour voiture manuelle ou automatique ainsi que taxi</h3>
	<p>Vous pouvez prendre contact directement avec Luc au numéro de téléphone suivant :</p>
	<p><span class="important">078 621 81 82.</span></p>
	<p>Lieux de rendez-vous : en principe salle de théorie ou centre ville, domicile si nécessaire.</p>
	<p>Assurance accidents/casco : <span class="strong">CHF 80.-</span></p>
	<p>Prix de la leçon : <span class="strong">CHF 95.-</span></p>
	<p>Forfait 5 leçons : <span class="strong">CHF 460.-</span> (paiement à l'avance)
	<p>Forfait 10 leçons : <span class="strong">CHF 900.-</span> (paiement à l'avance)
	<p>Lors de l'examen, vous devrez démontrer votre capacité, même dans une situation difficile, à conduire un véhicule automobile de manière sûre et adaptée. Une fois l'examen pratique réussi votre permis de conduire a une validité de 3 ans. Durant ce laps de temps vous avez l'obligation de participer, dans les 3 ans, aux 2 journées de formation, dites "Cours 2-phases", afin de valider votre permis.</p>
</div>

<% content_for :aside do %>
	<img src="images/voiture.jpg" />
<% end %>
