<!DOCTYPE HTML>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Contact Auto Moto</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" media="screen">
  </head>
  <body>
    <section id="main">
      <header>
        <div class="top-image"></div>
        <nav>
          <a href="index.html"><div class="accueil"></div></a>
          <a href="informations.html"><div class="informations"></div></a>
          <a href="cours.html"><div class="cours"></div></a>
          <a href="voiture.html"><div class="voiture"></div></a>
          <a href="moto.html"><div class="moto"></div></a>
          <a href="renseignements.html"><div class="renseignements"></div></a>
          <a href="situation.html"><div class="situations"></div></a>
        </nav>
      </header>
      <section>
        <%= content_for(item, :title) %>
      </section>
      <aside>
        <%= content_for(item, :aside) %>
      </aside>
      <section id="content">
        <article>
          <%= yield %>
          <div id="address">
            <h1>Contact Auto-Moto</h1>
            <p>rue de la Borde 57</p>
            <p>1018 Lausanne</p>
            <p>Tel. 078 621 81 82</p>
            <p>e-mail : <a href="#">info@contact-auto-moto.ch</a></p>
          </div>
        </article>
      </section>
      <footer>
        <p>Copyright © 2004-2012 Contact - <a href="http://www.liquid-concept.ch">Website by Liquid-concept -</a></p>
      </footer>
    </section>
  </body>
</html>
