body {
  background-image: url(/images/bg.gif);
  margin: 0px;
  padding: 0px;

  #main {
  	font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 720px;
    height: auto;
    background-color: #98CCF8;
    border-left: 1px solid black;
    border-right: 1px solid black;

    h1 {
      margin: 35px;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 30px;
      color: #1C0C80;
    }

    aside {
      margin-top: 6px;
      margin-left: 35px;
      float: left;
      font-size: 11px;
      width: 155px;

      img {
        border: black 2px solid;
      }

      p {
        font-size: 10px;
        color: #0D004D;
        font-style: italic;
        text-align: left;
      }
    }

    #content {

      h2 {
        color: #1C0C80;
        font-size: 24px;
        font-style: italic;
        font-weight: bold;
      }

      p {
        color: #0D004D;
        font-size: 12px;
        text-align: justify;
        line-height: 1.5em;
        margin-left: 20px;
      }

      a {
        color: #0000FF;
        text-decoration: none;
      }

      #text {
        margin-left: 192px;
        margin-right: 35px;
        margin-bottom: -15px;
      }

      .strong {
        font-weight: bold;
      }

      .name {
        float: right;
        margin-right: 36px;
      }

      #address {
        float: left;
        width: 155px;
        margin-left: 28px;
        margin-top: 36px;
        padding-bottom: 10px;

        h1 {
          color: #0066CC;
          text-align: center;
          margin: 0px;
          line-height: 14px;
          font-size: 11px;
        }

        p {
          color: #0066CC;
          text-align: center;
          margin: 0px;
          line-height: 13px;
          font-style: normal;
          font-size: 11px;
        }

        a {
          text-align: center;
          margin: 0px;
          line-height: 13px;
          text-decoration: none;
          font-size: 11px;
        }
      }
    }

    header {
  		background-image: url(/images/top.gif);
  		width: auto;
      height: 120px;
  		background-repeat: no-repeat;

  		.top-image {
        margin-left: 330px;
  			background-image: url(/images/move.jpg);
  			background-repeat: no-repeat;
  			width: 390px;
	  		height: 90px;
        display: block;
  		}

  		nav {
        width: 658px;
        padding-top: 10px;
        margin-top: 15px;
        margin-left: 35px;
  			background-repeat: no-repeat;

  			.accueil {
  				background-image: url(/images/menu_accueil_off.gif);
  				width: 70px;
  				height: 50px;
  				background-repeat: inherit;
  				display: inline-block;
  			}

  			.accueil:hover {
  				background-image: url(/images/menu_accueil.gif);
  			}

  			.informations {
  				background-image: url(/images/menu_informations_off.gif);
  				width: 105px;
  				height: 50px;
  				background-repeat: inherit;
  				display: inline-block;
  			}

  			.informations:hover {
  				background-image: url(/images/menu_informations.gif);
  			}

  			.cours {
  				background-image: url(/images/menu_cours_off.gif);
  				width: 115px;
  				height: 50px;
  				background-repeat: inherit;
  				display: inline-block;
  			}

  			.cours:hover {
  				background-image: url(/images/menu_cours.gif);
  			}

  			.voiture {
  				background-image: url(/images/menu_voiture_off.gif);
  				width: 75px;
  				height: 50px;
  				background-repeat: inherit;
  				display: inline-block;
  			}

  			.voiture:hover {
  				background-image: url(/images/menu_voiture.gif);
  			}

  			.moto {
  				background-image: url(/images/menu_moto_off.gif);
  				width: 60px;
  				height: 50px;
  				background-repeat: inherit;
  				display: inline-block;
  			}

  			.moto:hover {
  				background-image: url(/images/menu_moto.gif);
  			}

  			.renseignements {
  				background-image: url(/images/menu_renseignements_off.gif);
          width: 125px;
  				height: 50px;
  				background-repeat: inherit;
  				display: inline-block;
  			}

  			.renseignements:hover {
  				background-image: url(/images/menu_renseignements.gif);
  			}

  			.situations {
  				background-image: url(/images/menu_situation_off.gif);
          width: 80px;
  				height: 50px;
  				background-repeat: inherit;
  				display: inline-block;
  			}

  			.situations:hover {
  				background-image: url(/images/menu_situation.gif);
  			}
  		}
    }

    footer {
      background-position: bottom;
      background-repeat: no-repeat;
      background-image: url(/images/route.jpg);
      width: 100%;
      height: 100%;

      p {
        color: #333;
        text-align: center;
        font-size: 9px;
        padding-top: 197px;
      }

      a {
        color: #333;
        text-decoration: none;
        text-align: center;
        font-size: 9px;
      }
    }
  }
}