/*************************/
/*       COLORS          */
/*************************/

$bg_color: #98CCF8;
$title_color: #1C0C80;
$text_color: #0D004D;
$address_color: #0066CC;

/*************************/
/*    OTHER VARIABLE     */
/*************************/

$border: 1px solid black;
$img_border: black 2px solid;

body {
  background-image: url(/images/bg.gif);
  margin: 0px;
  padding: 0px;

  #main {
  	font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 720px;
    height: auto;
    background-color: $bg_color;
    border-left: $border;
    border-right: $border;

    h1 {
      margin: 35px;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 30px;
      color: $title_color;
    }

    aside {
      margin-top: 6px;
      margin-left: 35px;
      float: left;
      font-size: 11px;
      width: 155px;

      img {
        border: $img_border;
      }

      p {
        margin-top: 0px;
        font-size: 10px;
        color: $text_color;
        font-style: italic;
        text-align: left;
        line-height: 15px;
      }
    }

    #content {

      h2 {
        color: $title_color;
        font-size: 24px;
        font-style: italic;
        font-weight: bold;
      }

      h3 {
        color: $title_color;
        font-size: 18px;
        font-weight: bold;
        margin-left: 20px;
      }

      p {
        padding: 5px 0 5px 0;
        color: $text_color;
        font-size: 12px;
        text-align: justify;
        line-height: 1.5em;
        margin-left: 20px;
      }

      ul {

        li {
          color: $text_color;
          font-size: 12px;
          line-height: 1.2em;
          margin-left: 20px;
          word-spacing: 2px;
          text-align: left;
        }
      }

      a {
        color: #0000FF;
        text-decoration: none;
      }

      a {
        font-size: 12px;
        margin-left: 20px;
      }

      a.button {
        background-color: #005171;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        padding: 10px;
        margin-left: 65px;
      }

      span.important {
        font-size: 16px;
        font-weight: bold;
      }

      li > a {
        margin-left: 0px;
      }

      #text {
        margin-left: 192px;
        margin-right: 35px;
        margin-bottom: -15px;
      }

      .strong {
        font-weight: bold;
      }

      .name {
        float: right;
        margin-right: 36px;
      }

      .note {
        font-size: smaller;
      }

      #address {
        float: left;
        width: 155px;
        margin-left: 28px;
        margin-top: 36px;
        padding-bottom: 10px;

        h1 {
          color: $address_color;
          text-align: center;
          margin: 0px;
          line-height: 14px;
          font-size: 11px;
        }

        p {
          padding: 0px;
          color: $address_color;
          text-align: center;
          margin: 0px;
          line-height: 13px;
          font-style: normal;
          font-size: 11px;
        }

        a {
          text-align: center;
          margin: 0px;
          line-height: 13px;
          text-decoration: none;
          font-size: 11px;
        }
      }

      iframe {
        margin-left: 20px;
      }
    }

    header {
  		background-image: url(/images/top.gif);
  		width: auto;
      height: 120px;
  		background-repeat: no-repeat;

  		.top-image {
        margin-left: 330px;
  			background-image: url(/images/move.jpg);
  			background-repeat: no-repeat;
  			width: 390px;
	  		height: 90px;
        display: block;
  		}

  		nav {
        width: 658px;
        padding-top: 10px;
        margin-top: 15px;
        margin-left: 35px;

  			.accueil {
  				background-image: url(/images/menu_accueil_off.gif);
  				width: 70px;
  				height: 50px;
	        background-repeat: no-repeat;
  				display: inline-block;
  			}

  			.accueil:hover {
  				background-image: url(/images/menu_accueil.gif);
  			}

  			.informations {
  				background-image: url(/images/menu_informations_off.gif);
  				width: 105px;
  				height: 50px;
  				background-repeat: no-repeat;
  				display: inline-block;
  			}

  			.informations:hover {
  				background-image: url(/images/menu_informations.gif);
  			}

  			.cours {
  				background-image: url(/images/menu_cours_off.gif);
  				width: 115px;
  				height: 50px;
  				background-repeat: no-repeat;
  				display: inline-block;
  			}

  			.cours:hover {
  				background-image: url(/images/menu_cours.gif);
  			}

  			.voiture {
  				background-image: url(/images/menu_voiture_off.gif);
  				width: 75px;
  				height: 50px;
  				background-repeat: no-repeat;
  				display: inline-block;
  			}

  			.voiture:hover {
  				background-image: url(/images/menu_voiture.gif);
  			}

  			.moto {
  				background-image: url(/images/menu_moto_off.gif);
  				width: 60px;
  				height: 50px;
  				background-repeat: no-repeat;
  				display: inline-block;
  			}

  			.moto:hover {
  				background-image: url(/images/menu_moto.gif);
  			}

  			.renseignements {
  				background-image: url(/images/menu_renseignements_off.gif);
          width: 125px;
  				height: 50px;
  				background-repeat: no-repeat;
  				display: inline-block;
  			}

  			.renseignements:hover {
  				background-image: url(/images/menu_renseignements.gif);
  			}

  			.situations {
  				background-image: url(/images/menu_situation_off.gif);
          width: 80px;
  				height: 50px;
  				background-repeat: no-repeat;
  				display: inline-block;
  			}

  			.situations:hover {
  				background-image: url(/images/menu_situation.gif);
  			}
  		}
    }

    footer {
      background-position: bottom;
      background-repeat: no-repeat;
      background-image: url(/images/route.jpg);
      width: 100%;
      height: 100%;

      p {
        color: #333;
        text-align: center;
        font-size: 9px;
        padding-top: 197px;
      }

      a {
        color: #333;
        text-decoration: none;
        text-align: center;
        font-size: 9px;
      }
    }
  }
}
